<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head', {title: 'Login' }) %>

  <body class="login">
    <%- include ('../partials/header') %>
      <main>
        <!-- Formulario de login -->
        <div class="wrapper">
          <h1>Acceder</h1>
          <form action="" method="post">
            <div class="field email">
              <div class="input-area">
                <i class="icon fas fa-envelope"></i>
                <input class="input" type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email :"Nombre de usuario o email" %>">
                <% if (locals.errors && errors.email) { %>
                  <small class="error">
                    <%= errors.email.msg %>
                  </small>
                  <% } %>
              </div>
            </div>
            <div class="field password">
              <div class="input-area">
                <i class="icon fas fa-lock"></i>
                <input class="input" type="password" name="password" id="password" placeholder="Contraseña">
                <% if (locals.errors && errors.password) { %>
                  <small class="error">
                    <%= errors.password.msg %>
                  </small>
                  <% } %>
              </div>
            </div>
            <div class="recordarme_bottom">
              <input type="checkbox" name="recordarme" id="recordarme">
              <label for="recordarme">Recordarme</label>
              <small>¿Olvidaste tu contraseña?</small>
            </div>
            <div class="boxAccess">
              <div class="Access">
                <img src="/images/Rectangle 29.svg">
              </div>
              <div class="access_text">
                <small class="app">O accede con</small>
              </div>
              <div>
                <div class="Access2">
                  <img src="/images/Rectangle 30.svg" alt="">
                </div>
              </div>
            </div>

            <!-- Redes sociales -->
            <div class="social_icons">
              <div class="button_go">
                <div class="icon">
                  <a href="https://accounts.google.com"><i class="fab fa-google"></i></a>
                </div>
              </div>

              <div class="button_fa">
                <div class="icon">
                  <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                </div>
              </div>

              <div class="button_app">
                <div class="icon">
                  <a href="https://appleid.apple.com/sign-in"> <i class="fab fa-apple"></i></a>
                </div>
              </div>
            </div>

            <button type="submit">Acceder</button>
          </div>
          <div class="link">
            <a href="/usuarios/register">No tengo una cuenta!</a>
          </div>
        </form>
        </div>
      </main>

      <%- include ('../partials/footer') %>

  </body>

</html>