<!DOCTYPE html>
<html lang="en">
    
    <%- include ('../partials/head', {title: 'Perfil'}) %> 

<body class="perfil">
  <%- include ('../partials/header') %> 
    <main>
        <section class="perfil-usuario">
            <div class="contenedor-perfil">
                <div  class =" portada-perfil " style =" background-image: url('/img/img-salon.jpg')">
                    <div class="sombra"> </div>
                    <div class="avatar-perfil">
                        
                        <img src="/img/users/<%= session.image_profil %> " alt="">
                        <a id="btn-abrir-popup">
                            <div class="cambiar-foto">
                            <i class="fas fa-camera"></i> 
                            <span>Cambiar foto</span>
                            </div>
                        </a>
                    </div>
                    <div class="datos-perfil">
                        <% if (locals.userLogin) { %>
                            <h6 class="titulo-usuario admin"><%= locals.userLogin.rol == 1 ? "Administrador" : null %></h6>
                            <h6 class="titulo-usuario"><%= locals.userLogin.name %> <%= locals.userLogin.lastname %></h6>
                            <h4 class="email-usuario"><%= locals.userLogin.email %></h4>
                        <% } %>
                    </div>
                   
                    <div class="opcciones-perfil">
                        <label for="imagenPortada" class="portada">
                            Cambiar portada
                                <input class="form-control" type="file" name="imagenPortada" id="imagenPortada" multiple>
                        </label>
                        <a href="/usuarios/perfil/editar"><i class="fas fa-wrench"></i></a>
                    </div>
                </div>
                </div>
                <div class="menu-perfil">
                    <ul class="titulos">
                        <li><a href="#" title=""><i class="far fa-heart"></i> Favoritos</a></li>
                        <li><a href="#" title=""><i class="fas fa-gift"></i> Mi pedido</a></li>
                        <li><a href="#" title=""><i class="fas fa-map-marker-alt"></i></i> Ubicacion</a></li>
                        <li><form action="/usuarios/logout?_method=DELETE" method="POST">
                            <button type="submit"><i class="fas fa-sign-out-alt"></i> Salir</button>
                        </form></li>
                        
                    </ul>
               </div>
                
            </div>
        </section>
        <h2>Te puede interesar</h2>
        
        <section class="instagram">
            <div class="fotosIG">
                <a class="img1" href="https://www.instagram.com/p/CgVTAhQA6S4/"><img src="/images/19fac1a3846ba9f935f0dfc06581c073.jpg" alt=""></a>
                <a class="img2" href="https://www.instagram.com/p/CgVTIUyAy4O/"><img src="/images/87f38ac3f67f7b148784589a47f11d6e.jpg" alt=""></a>
                <a class="img3" href="https://www.instagram.com/p/CgVTV7jgGlT/"><img src="/images/d3bd758c885dfd1f67a3a9eaf03faca3.jpg" alt=""></a>
                <a class="img4" href="https://www.instagram.com/p/CgVaSUcNibN/"><img src="/images/f6d85cc990cbf236fc58768bd05d04d4.jpg" alt=""></a>
                <a class="img5" href="https://www.instagram.com/p/CgVaU_6NQ4o/"><img src="/images/1375f5480a35761d807c86992d7e29f4.jpg" alt=""></a>
                <a class="img6" href="https://www.instagram.com/p/CgVaYEpNJX5/"><img src="/images/c646209b4c08e3ff0ed8178ca7bb5c79.jpg" alt=""></a>
                <a class="img7" href="https://www.instagram.com/p/CgVaa1sNhKA/"><img src="/images/96a187667c1694e63308cc7b175c295b.jpg" alt=""></a>
            </div>
        </section>
        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                <h3>Cambiar foto de perfil</h3>
                <form action="/usuarios/perfil?_method=PUT" method="post" enctype="multipart/form-data">
                    <div class="col col-5">
                        <label class="selectImg"class="form-label" for="product-img">
                            <div class="box-img">
                                <img id="img-preview" class="img-fluid img-thumbnail imagen-height rounded" src="/img/users/<%= user.imagen_perfil %>" alt="">
                            </div>
                        </label>
                        <div class="form-admin__box inactivo">
                            <input class="d-none" id="product-img" type="file" name="imagenPerfil" placeholder="Imagen del Producto" accept="image/*" multiple>
                        </div>
                    </div>
                    <button class="btn-submit" type="submit">Guardar</button>
                </form>
            </div>
        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                <h3>Cambiar foto de perfil</h3>
                <form action="/usuarios/perfil?_method=PUT" method="post" enctype="multipart/form-data">
                    <div class="col col-5">
                        <label class="selectImg"class="form-label" for="product-img">
                            <div class="box-img">
                                <img id="img-preview" class="img-fluid img-thumbnail imagen-height rounded" src="/img/users/<%= user.imagen_perfil %>" alt="">
                            </div>
                        </label>
                        <div class="form-admin__box inactivo">
                            <input class="d-none" id="product-img" type="file" name="imagenPortada" placeholder="Imagen del Producto" accept="image/*" multiple>
                        </div>
                    </div>
                    <button class="btn-submit" type="submit">Guardar</button>
                </form>
            </div>
        </div>
        <!-- <div class="content" id="content">
            <span><%= locals.errors && errors.imagenPerfil ? errors.imagenPerfil.msg : null%>  </span>
        </div> -->
        <!-- intente implementar errors para imagenes, pero no lo logré. -->
    </main>

    <%- include ('../partials/footer') %> 
    
    <script src="/javascript/imagenes.js"></script>
    <script src="/javascript/popupFotoPerfil.js"></script>
</body>
</html>