<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head',{title:"Crear Producto"}) %>

    <body class="crear-editar listar">
        <main class="crear">
            <ul class="ul">
                <li class="crumb li"><a href="/">Home</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page"><a href="/admin/listar">Administrador</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page"><a href="/admin/listar">Listar Productos</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page">Crear Producto</li>
            </ul>
            <h1>Creando un producto nuevo</h1>
            <div class="divForm">
                <form id="formCreateProducts" action="/admin/crear" method="post" enctype="multipart/form-data">
                    <section>
                        <div class="form-floating">
                            <label for="nombre">Nombre del producto</label>
                            <input type="text" class="form-control" name="nombre" id="nombre"
                                value="<%= locals.old && old.nombre ? old.nombre : null%>"
                                placeholder="Nombre del producto">
                                <i class="fas fa-exclamation-circle failure-icon"></i>
                                <i class="far fa-check-circle success-icon"></i>
                            <p class="span text-danger" id="nombreError">
                                <%= locals.errors && errors.nombre ? errors.nombre.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="marca">Marca</label>
                            <select class="form-select" name="marca" id="marcas"
                                aria-label="Floating label select example">
                                <% if (locals.errors && old.marca) { %>
                                    <option hidden value="">Selecciona una opcion</option>
                                    <% marcas.forEach(marca => { %>
                                        <% if (marca.id == old.marca) { %>
                                            <option value="<%= marca.id %>" selected><%= marca.nombre %></option>
                                        <% }else{ %>
                                            <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                        <% } %>
                                        <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                    <% }) %>
                                <% }else{ %>
                                    <option selected hidden value="">Selecciona una opcion</option>
                                    <% marcas.forEach(marca => { %>
                                        <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                    <% }) %>
                                <% } %> 
                            </select>
                            <% if (locals.errors && errors.marca) { %>
                                <p class="span text-danger" id="marcaError"><%= errors.marca.msg %></p>
                            <% } %>
                        </div>
                        <div class="form-floating">
                            <label for="categoria">Categoría</label>
                            <select class="form-select" name="categoria" id="categoria"
                                aria-label="Floating label select example">
                                <% if (locals.errors && old.categoria){ %>
                                    <option hidden value="">Selecciona una opcion</option>
                                    <option <%= old.categoria == "1" ? "selected" : null %>  value="Esmaltado Semipermanente">Esmaltado Semipermanente</option>
                                    <option <%= old.categoria == "2" ? "selected" : null %>  value="Construcción de uñas">Construcción de uñas</option>
                                    <option <%= old.categoria == "3" ? "selected" : null %>  value="Decoración">Decoración</option>
                                    <option <%= old.categoria == "4" ? "selected" : null %>  value="Esmaltes">Esmaltes</option>
                                    <option <%= old.categoria == "5" ? "selected" : null %>  value="Herramientas">Herramientas</option>
                                    <option <%= old.categoria == "6" ? "selected" : null %>  value="Accesorios">Accesorios</option>
                                    <option <%= old.categoria == "7" ? "selected" : null %>  value="Aparatos">Aparatos</option>
                                    <option <%= old.categoria == "8" ? "selected" : null %>  value="Cuidado de Manos y Pies">Cuidado de Manos y Pies</option>
                                    <option <%= old.categoria == "9" ? "selected" : null %>  value="Maquillaje">Maquillaje</option>
                                    <% } else { %>
                                        <option selected hidden value="">Selecciona una opcion</option>
                                        <% categorias.forEach(categoria => { %>
                                            <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                                        <% }) %>
                                        <%}%>
                            </select>
                            <p class="form-floating">
                                <%= locals.errors && errors.categoria ? errors.categoria.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="categoria">Subctegoría</label>
                            <select class="form-select" name="estado" id="estado"
                                aria-label="Floating label select example">
                                <% if (locals.errors && old.estado){ %>
                                    <option hidden value="">Selecciona una opcion</option>
                                    <option <%= old.estado == "1" ? "selected" : null %>  value="Nuevo">Nuevo</option>
                                    <option <%= old.estado == "1" ? "selected" : null %>  value="Oferta">Oferta</option>
                                    <option <%= old.estado == "1" ? "selected" : null %>  value="Favorito">Favorito</option>
 
                                    <% } else { %>
                                        <option selected hidden value="">Selecciona una opcion</option>
                                        <% estados.forEach(estado => { %>
                                            <option value="<%= estado.id %>"><%= estado.estado %></option>
                                        <% }) %>
                                        <%}%>
                            </select>
                            <p class="form-floating">
                                <%= locals.errors && errors.categoria ? errors.categoria.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="color">Color</label>
                            <input type="color" class="form-control" name="color" id="color" list="color">
                            <datalist id="colores">

                                <option value="#00ffff">

                                <option value="#ff00ff">

                                <option value="#ffff00">

                                <option value="#ffaa00">

                            </datalist>
                            <p class="form-floating">
                                <%= locals.errors && errors.color ? errors.color.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="precio">Precio</label>
                            <input type="number" class="form-control" name="precio" id="precio" min="1"
                                value="<%= locals.old && old.precio ? old.precio : null%>" placeholder="Precio">
                            <p class="form-floating">
                                <%= locals.errors && errors.precio ? errors.precio.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="descuento">Descuento</label>
                            <input type="number" class="form-control" name="descuento" id="descuento" max="100"
                                value="<%= locals.old && old.descuento ? old.descuento : null%>"
                                placeholder="Descuento">
                            <p class="form-floating">
                                <%= locals.errors && errors.descuento ? errors.descuento.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="stock">Stock</label>
                            <input type="number" class="form-control" name="stock" id="stock" min="1"
                                placeholder="Stock">
                            <p class="form-floating">
                                <%= locals.errors && errors.stock ? errors.stock.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="descripcion">Descripción</label>
                            <textarea name="descripcion" id="descripcion" cols="300" rows="300" class="form-control"
                                placeholder="Descripcion del producto"
                                style="resize: none;"><%= locals.old && old.descripcion ? old.descripcion : null%></textarea>
                            <p class="span text-danger">
                                <%= locals.errors && errors.descripcion ? errors.descripcion.msg : null %>
                            </p>
                        </div>
                        <div class="mb-3">
                            <!-- <label for="imagen" class="form-label">Imágenes del producto</label> -->
                            <!-- <input class="form-control" type="file" name="imagen" id="imagen" multiple> -->
                            <label class="custom-file-upload2">
                                <input type="file" name="imagen" id="imagen" multiple />
                                Subir imágenes
                            </label>
                            <p class="span text-danger">
                                <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                            </p>

                        </div>

                        <div class="box-buttons">
                            <div class="button borrar">
                                <button type="reset">Borrar</button>
                            </div>
                            <div class="button crear">
                                <button class="btn btn-outline-success" id="btn-submit" type="submit">Crear</button>
                            </div>
                        </div>

                    </section>
                </form>
            </div>
        </main>
        <script src="/javascript/productosValidator.js"></script>

    </body>

</html>