<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head',{title:"Crear Producto"}) %>

    <body class="crear-editar listar">
        <main class="crear">
            <ul class="ul">
                <li class="crumb li"><a href="/">Home</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page"><a href="/admin/listar">Administrador</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page"><a href="/admin/listar">Listar Productos</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page">Crear Producto</li>
            </ul>
            <h1>Creando un producto nuevo</h1>
            <div class="divForm">
                <form action="/admin/crear" method="post" enctype="multipart/form-data">
                    <section>
                        <div class="form-floating">
                            <label for="nombre">Nombre del producto</label>
                            <input type="text" class="form-control" name="nombre" id="nombre"
                                value="<%= locals.old && old.titulo ? old.titulo : null%>" placeholder="Nombre">
                            <p class="span text-danger">
                                <%= locals.errors && errors.nombre ? errors.nombre.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-control" name="marca" id="marca"
                                value="<%= locals.old && old.marca ? old.marca : null%>" placeholder="Marca">
                            <% if (locals.errors && errors.marca) { %>
                                <p class="span text-danger">
                                    <%= errors.marca.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div class="form-floating">
                            <label for="categoria">Categoría</label>
                            <select class="form-select" name="categoria" id="categoria"
                                aria-label="Floating label select example">
                                <% if (locals.errors && old.categoria){ %>
                                    <option hidden value="">Selecciona una opcion</option>
                                    <option <%=old.categoria==="Esmaltado" ? "selected" : null %>
                                        value="Esmaltado">Esmaltado</option>
                                    <option <%=old.categoria==="Esmaltado Semipermanente" ? "selected" : null %>
                                        value="Esmaltado Semipermanente">Esmaltado Semipermanente</option>
                                    <option <%=old.categoria==="Construcción de uñas" ? "selected" : null %>
                                        value="Construcción de uñas">Construcción de uñas</option>
                                    <option <%=old.categoria==="Decoración" ? "selected" : null %>
                                        value="Decoración">Decoración</option>
                                    <option <%=old.categoria==="Esmaltes" ? "selected" : null %>
                                        value="Esmaltes">Esmaltes</option>
                                    <option <%=old.categoria==="Herramientas" ? "selected" : null %>
                                        value="Herramientas">Herramientas</option>
                                    <option <%=old.categoria==="Accesorios" ? "selected" : null %>
                                        value="Accesorios">Accesorios</option>
                                    <option <%=old.categoria==="Aparatos" ? "selected" : null %>
                                        value="Aparatos">Aparatos</option>
                                    <option <%=old.categoria==="Cuidado de Manos y Pies" ? "selected" : null %>
                                        value="Cuidado de Manos y Pies">Cuidado de Manos y Pies</option>
                                    <option <%=old.categoria==="Maquillaje" ? "selected" : null %>
                                        value="Maquillaje">Maquillaje</option>

                                    <% } else { %>
                                        <option selected hidden>Selecciona una opcion</option>
                                        <option value="Esmaltado">Esmaltado</option>
                                        <option value="Esmaltado Semipermanente">Esmaltado Semipermanente</option>
                                        <option value="Construcción de uñas">Construcción de uñas</option>
                                        <option value="Decoración">Decoración</option>
                                        <option value="Esmaltes">Esmaltes</option>
                                        <option value="Herramientas">Herramientas</option>
                                        <option value="Accesorios">Accesorios</option>
                                        <option value="Aparatos">Aparatos</option>
                                        <option value="Cuidado de Manos y Pies">Cuidado de Manos y Pies</option>
                                        <option value="Maquillaje">Maquillaje</option>
                                        <%}%>
                            </select>
                            <p class="form-floating">
                                <%= locals.errors && errors.categoria ? errors.categoria.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="color">Color</label>
                            <input type="text" class="form-control" name="color" id="color" value="<%= locals.old && old.color ? old.color : null%>" placeholder="Color">
                            <p class="form-floating">
                                <%= locals.errors && errors.color ? errors.color.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="precio">Precio</label>
                            <input type="number" class="form-control" name="precio" id="precio" value="<%= locals.old && old.precio ? old.precio : null%>"  placeholder="Precio">
                            <p class="form-floating">
                                <%= locals.errors && errors.precio ? errors.precio.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="descuento">Descuento</label>
                            <input type="number" class="form-control" name="descuento" id="descuento" value="0"
                            value="<%= locals.old && old.descuento ? old.descuento : null%>"placeholder="Descuento">
                            <p class="form-floating">
                                <%= locals.errors && errors.descuento ? errors.descuento.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="stock" value="1">Stock</label>
                            <input type="number" class="form-control" name="stock" id="stock"<%= locals.old && old.stock ? old.stock : null%>" placeholder="Stock">
                            <p class="form-floating">
                                <%= locals.stock && errors.stock ? errors.stock.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="descripcion">Descripción</label>
                            <textarea name="descripcion" id="description" cols="300" rows="300" class="form-control" placeholder="Leave a comment here" style="resize: none;"><%= locals.old && old.descripcion ? old.descripcion : null%></textarea>
                                <p class="span text-danger">
                                    <%= locals.errors && errors.descripcion ? errors.descripcion.msg : null %>
                                </p>
                        </div>
                        <div class="mb-3">
                            <!-- <label for="imagen" class="form-label">Imágenes del producto</label>
                        <input class="form-control" type="file" name="imagen" id="imagen" multiple > -->
                            <label class="custom-file-upload">
                                <input type="file" name="imagen" id="imagen" multiple />
                                Subir imágenes
                            </label>
                            <p class="span text-danger">
                                <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                            </p>

                        </div>

                        <div class="box-buttons">
                            <div class="button borrar">
                                <button type="reset">Borrar</button>
                            </div>
                            <div class="button crear">
                                <button class="btn btn-outline-success" type="submit">Crear</button>
                            </div>
                        </div>

                    </section>
                </form>
            </div>
        </main>
    </body>

</html>