<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title:"Editar producto"}) %>

    <body class="crear-editar listar">
        <main class="crear">
            <ul class="ul">
                <li class="crumb li"><a href="/">Home</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page"><a href="/admin/listar">Administrador</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page"><a href="/admin/listar">Listar Productos</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page">Crear Producto</li>
            </ul>
            <h1>Editando un producto</h1>
            <div class="divForm">
                <form action="/admin/editar/<%=producto.id%>?_method=PUT"  method="post" enctype="multipart/form-data">
                    <section>
                        <div class="form-floating">
                            <label for="nombre">Nombre del producto</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" value="<%=producto.nombre%> " >
                            <small>Obligatorio</small>
                        </div>
                        <div class="form-floating">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-control" name="marca" id="marca" placeholder="Marca" value="<%=producto.marca%>">
                            <small>Obligatorio</small>
                        </div>
                        <div class="form-floating">
                            <label for="categoria">Categoría</label>
                            <select class="form-select" name="categoria" id="categoria"  aria-label="Floating label select example">
                                <% categoria.forEach(category => { %>
                                    <option value="<%= category %>" <%= producto.categoria.toLowerCase() === category.toLowerCase() ? 'selected' : null %> ><%= category %></option>
                                  <% }) %>
                            </select>
                            <small>Obligatorio</small>
                          </div>
                          <div class="form-floating">
                            <label for="estado">Estado</label>
                            <select class="form-select" name="estado" id="estado" aria-label="Floating label select example">
                                <% estado.forEach(state => { %>
                                    <option value="<%= state %>" <%= producto.estado.toLowerCase() === state.toLowerCase() ? 'selected' : null %> ><%= state %></option>
                                  <% }) %>
                            </select>
                            <small>Obligatorio</small>
                        </div>
                        <div class="form-floating">
                            <label for="color">Color</label>
                            <input type="text" class="form-control" name="color" id="color" placeholder="Color" value="<%=producto.color%>">
                            <small>Obligatorio</small>
                        </div>
                        <div class="form-floating">
                            <label for="precio">Precio</label>
                            <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio" value="<%=producto.precio%>">
                        </div>
                        <div class="form-floating">
                            <label for="descuento">Descuento</label>
                            <input type="number" class="form-control" name="descuento" id="descuento" value="0" placeholder="Descuento" value="<%=producto.descuento%>">
                        </div>
                        <div class="form-floating">
                            <label for="stock" value="1">Stock</label>
                            <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" value="<%=producto.stock%>">
                        </div>
                        <div class="form-floating">
                            <label for="descripcion">Descripción </label>
                            <textarea class="form-control" name="descripcion" placeholder="Por favor inserte la descripción del producto"
                                id="descripcion"><%=producto.descripcion%></textarea>
                            <small>Obligatorio</small>
                        </div>
                        <div class="mb-3">
                            <!-- <label for="imagen" class="form-label">Imágenes del producto</label>
                            <input class="form-control" type="file" name="imagen" id="imagen" multiple > -->
                            <label class="custom-file-upload">
                                <input type="file" name="imagen" id="imagen" multiple/>
                                Subir imágenes
                              </label>
                            <small>Obligatorio</small>
                            
                        </div>
                        
                        <div class="box-buttons">
                            <div class="button borrar">
                                <button type="reset">Borrar</button>
                            </div>
                            <div class="button crear">
                                <button class="btn btn-outline-success" type="submit">Actualizar</button>
                            </div>
                        </div>
        
                    </section>
                </form>
            </div>
        </main>
    </body>

</html>