<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title:"Editar producto"}) %>

    <body class="crear-editar listar">
        <main class="crear">
            <ul class="ul">
                <li class="crumb li"><a href="/">Home</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page"><a href="/admin/listar">Administrador</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page"><a href="/admin/listar">Listar Productos</a></li>
                <li class="divider li"> > </li>
                <li class="crumb-active li" aria-current="page">Editar Producto</li>
            </ul>
            <h1>Editando un producto</h1>
            <div class="divForm">
                <form action="/admin/editar/<%=producto.id%>?_method=PUT"  method="post" enctype="multipart/form-data">
                    <section>
                        <div class="form-floating">
                            <label for="nombre">Nombre del producto</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" value="<%=producto.nombre%> " >
                         
                        </div>
                        <div class="form-floating">
                            <label for="marca">Marca</label>
                            <select class="form-select" name="marca" id="marca"
                                aria-label="Floating label select example">
                                <% if (locals.errors && old.marca) { %>
                                    <option hidden value="">Selecciona una opcion</option>
                                    <% marcas.forEach(marca => { %>
                                        <% if (marca.id == old.marca) { %>
                                            <option value="<%= marca.id %>" selected><%= marca.nombre %></option>
                                        <% }else{ %>
                                            <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                        <% } %>
                                        <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                    <% }) %>
                                <% }else{ %>
                                    <option selected hidden value="">Selecciona una opcion</option>
                                    <% marcas.forEach(marca => { %>
                                        <option value="<%= marca.id %>" <%= producto.marcasid === marca.id ? "selected" : null %>><%= marca.nombre %></option>
                                    <% }) %>
                                <% } %> 
                            </select>
                            <% if (locals.errors && errors.marca) { %>
                                <p class="span text-danger"><%= errors.marca.msg %></p>
                            <% } %>
                        </div>
                        <div class="form-floating">
                            <label for="categoria">Categoría</label>
                            <select class="form-select" name="categoria" id="categoria"  aria-label="Floating label select example">
                                <% if (locals.errors && old.categoria) { %>
                                    <option hidden value="">Selecciona una opcion</option>
                                    <% categorias.forEach(categoria => { %>
                                        <% if (categoria.id == old.categoria) { %>
                                            <option value="<%= categoria.id %>" selected><%= categoria.nombre %></option>
                                        <% }else{ %>
                                            <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                                        <% } %>
                                        <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                                    <% }) %>
                                <% }else{ %>
                                    <option selected hidden value="">Selecciona una opcion</option>
                                    <% categorias.forEach(categoria => { %>
                                        <option value="<%= categoria.id %>" <%= producto.categoriasid === categoria.id ? "selected" : null %>><%= categoria.nombre %></option>
                                    <% }) %>
                                <% } %> 
                            </select>
                          </div>
                          <div class="form-floating">
                            <label for="estado">Estado</label>
                            <select class="form-select" name="estado" id="estado" aria-label="Floating label select example">
                                <% if (locals.errors && old.estado) { %>
                                    <option hidden value="">Selecciona una opcion</option>
                                    <% estados.forEach(estado => { %>
                                        <% if (estado.id == old.estado) { %>
                                            <option value="<%= estado.id %>" selected><%= estado.estado %></option>
                                        <% }else{ %>
                                            <option value="<%= estado.id %>"><%= estado.estado %></option>
                                        <% } %>
                                        <option value="<%= estado.id %>"><%= estado.estado %></option>
                                    <% }) %>
                                <% }else{ %>
                                    <option selected hidden value="">Selecciona una opcion</option>
                                    <% estados.forEach(estado => { %>
                                        <option value="<%= estado.id %>" <%= producto.estadosid === estado.id ? "selected" : null %>><%= estado.estado %></option>
                                    <% }) %>
                                <% } %> 
                            </select>
                         
                        </div>
                        <div class="form-floating">
                            <label for="color">Color</label>
                            <input type="color" class="form-control" name="color" id="color" list="color" value="<%=producto.color ? 'selected' : null %>">
                            <datalist id="colores">

                                <option value="#00ffff">

                                <option value="#ff00ff">

                                <option value="#ffff00">

                                <option value="#ffaa00">

                            </datalist>
                            <p class="form-floating">
                                <%= locals.errors && errors.color ? errors.color.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating">
                            <label for="precio">Precio</label>
                            <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio" value="<%=producto.precio%>">
                        </div>
                        <div class="form-floating">
                            <label for="descuento">Descuento</label>
                            <input type="number" class="form-control" name="descuento" id="descuento" placeholder="Descuento" value="<%=producto.descuento%>">
                        </div>
                        <div class="form-floating">
                            <label for="stock" value="1">Stock</label>
                            <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" value="<%=producto.stock%>">
                        </div>
                        <div class="form-floating">
                            <label for="descripcion">Descripción </label>
                            <textarea class="form-control" name="descripcion" placeholder="Por favor inserte la descripción del producto"
                                id="descripcion"><%=producto.descripcion%></textarea>
                         
                        </div>
                        <div class="mb-3">

                            <section class="img-product">

                                <div class="container">
                                    <div class="row">

                                        <!-- Imagen 1 -->

                                        <div class="col col-5">
                                            <label class="custom-file-upload" for="product-img">
                                                <img id="img-preview"
                                                    class="img-fluid img-thumbnail imagen-height rounded" src="/img/Products/<%= producto.imagenes[0] ? producto.imagenes[0].nombre : "default-image.png"%>"  alt="">
                                                <div class="imgHover">
                                                    <p class="text-center">Selecionar Imagen 1</p>
                                                </div>
                                            </label>
                                            <div class="form-admin__box inactivo">
                                                <input class="d-none" id="product-img" type="file" name="imagen1"
                                                    placeholder="Imagen del Producto" accept="image/*">
                                            </div>
                                        </div>

                                        <!-- Imagen 2 -->

                                        <div class="col col-5">
                                            <label class="custom-file-upload" for="product-sub-img-1">
                                                <img id="sub-img-preview-1"
                                                    class="img-fluid img-thumbnail  imagen-height rounded"
                                                    src="/img/Products/<%= producto.imagenes[1] ? producto.imagenes[1].nombre : "default-image.png"%>" alt="">
                                                <div class="imgHover">
                                                    <p class="text-center">Selecionar Imagen 2</p>
                                                </div>
                                            </label>
                                            <div class="form_desciption__box inactivo">
                                                <input class="d-none" id="product-sub-img-1" type="file" name="imagen2"
                                                    placeholder="Imagen del Producto">
                                            </div>
                                        </div>

                                        <!-- Imagen 3 -->

                                        <div class="col col-5">
                                            <label class="custom-file-upload" for="product-sub-img-2">
                                                <img id="sub-img-preview-2"
                                                    class="img-fluid img-thumbnail imagen-height rounded"
                                                    src="/img/Products/<%= producto.imagenes[2] ? producto.imagenes[2].nombre : "default-image.png"%>" height="auto" alt="">
                                                <div class="imgHover">
                                                    <p class="text-center">Selecionar Imagen 3</p>
                                                </div>
                                            </label>
                                            <div class="form_desciption__box inactivo">
                                                <input class="d-none " id="product-sub-img-2" type="file" name="imagen3"
                                                    placeholder="Imagen del Producto">
                                            </div>
                                        </div>

                                        <!-- Imagen 4 -->

                                        <div class="col col-5">
                                            <label class="custom-file-upload" for="product-sub-img-3">
                                                <img id="sub-img-preview-3"
                                                    class="img-fluid img-thumbnail imagen-height rounded"
                                                    src="/img/Products/<%= producto.imagenes[3] ? producto.imagenes[3].nombre : "default-image.png"%>" alt="">
                                                <div class="imgHover">
                                                    <p class="text-center">Selecionar Imagen 4</p>
                                                </div>
                                            </label>
                                            <div class="form_desciption__box inactivo">
                                                <input class="d-none" id="product-sub-img-3" type="file" name="imagen4"
                                                    placeholder="Imagen del Producto">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="span text-danger">
                                        <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                                    </p>
                                </div>

                            </section>
                        </div>
                        
                        <div class="box-buttons">
                            <div class="button borrar">
                                <button type="reset">Borrar</button>
                            </div>
                            <div class="button crear">
                                <button class="btn btn-outline-success" type="submit">Actualizar</button>
                            </div>
                        </div>
        
                    </section>
                </form>
            </div>
        </main>
        <script src="/javascript/imagenes.js"></script>
    </body>

</html>