<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: 'Buscar'}) %>

  <body class="buscar">
    <%- include('./partials/header') %>
    <main>
      <% if (resultados.length != 0) { %>
      <h1>Resultado de la busqueda: <%= buscar %></h1>
      <section class="resultados">
        <% resultados.forEach(producto => { %>
            <%- include('./partials/card',{
              id:producto.id,
              imagen:producto.imagen[0],
              nombre:producto.nombre,
              descuento:producto.descuento,
              precio:producto.precio 
            }) %> 
        <% }) %>
      </section>
      <% }else { %>
      <h1>
        No se encontraron coincidencias con la busqueda de: <%= buscar %>
      </h1>
      <section class="resultados">
        <div class="caja">
          <div class="foto-prod">
            <img src="/img/products/NotFound.svg" alt="producto no encontrado" />
          </div>
          <!-- <div class="card-text-box">
            <h3 class="card-name">No se entraron productos</h3>
          </div> -->
        </div>
      </section>
      <% } %>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>