<!DOCTYPE html>
<html lang="es">

    <%- include ('./partials/head', {title: 'Wonder Nails'}) %> 

<body class="detail">
    <%- include ('./partials/header') %> 
    <main>
        
        <ul class="ul">
            <li class="crumb li"><a href="/">Home</a></li>
            <li class="divider li"> > </li>
            <li class="crumb-active li" aria-current="page"><a href="/productos">Productos</a></li>
            <li class="divider li"> > </li>
            <li class="crumb-active li" aria-current="page"><a href="/productos/<%- producto.category.nombre %>"><%- producto.category.nombre %></a>  </li>
            <li class="divider li"> > </li>
            <li class="crumb-active li" aria-current="page"><%- producto.marca.nombre %>  </li>
        </ul>
        <section class="h1-1" class="detalle-producto">
            <h1><%- producto.nombre%></h1>
        </section>
        <!-- carrusel -->
        <div class="container-detail">
            <section class="imagenes">
                <!-- <article class="conteCarrusel"> -->
                    <div class="itemCarrusel">
                        <% if (producto.descuento > 0) { %>
                            <small class="descuento"><%-'%' +  producto.descuento + ' OFF'%></small>
                        <% } %>
                        
                        <img id="imgMain" src="/img/Products/<%= producto.imagenes[0].nombre %>" alt="Imagen principal">
                    </div>
                    <% if (producto.imagenes.length > 1) { %>
                        <div class="img-secundarias">
                            <% producto.imagenes.forEach(img => { %>
                                <img src="/img/Products/<%= img.nombre %>" alt="Imagen secundaria" onclick="document.getElementById('imgMain').setAttribute('/img/Products/<%= img.nombre %>')">
                            <% }) %>
                        </div>
                    <% } %>
            </section>
                    
                <!-- </article> -->
    
    
            <!-- detalle de producto -->
            <section class="detalle-producto">
                <h1 class="h1-2"><%- producto.nombre%></h1>
                <div class="span-color">
                    <span class="span-titulo"><%- producto.color === undefined ? "" : "COLOR:" %> </span>
                    <span ><%- producto.color === undefined ? "" : producto.color %> </span>
                </div>
                <article class="price">
                    <p class="precio"><%- producto.descuento > 0 ? '$' + producto.precio : null %>  </p>
                    <span class="precio-final">$<%- producto.descuento > 0 ? Math.trunc(producto.precio - producto.precio * producto.descuento / 100) : producto.precio  %>  </span>
                    <small class="descuento1"><%- producto.descuento > 0 ? '%' +  producto.descuento + ' OFF' : null %></small>
                </article>
                <article class="conten-carrito">
                    <div class="sumar-carrito">
                        <input type="button" value="-">
                        <input class="medio" type="number" value="1" min="1" step="1">
                        <input type="button" value="+">
                    </div>
                    <button class="comprar-boton" onclick=" addItem('<%= producto.id %>')">añadir al Carrito</button>
                </article>
                <article class="fav-share">
                <div class="lista-deseos">
                    <a href="#"><i class="far fa-heart"></i></a>
                </div>
                <div class="share">
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
            </article>
            </section>
        </div>

        <section class="descripcion">
            <h3>Descripcion</h3>
            <p><%- producto.descripcion %> </p>
        </section>

        <!-- promociones -->
        <section class="promociones">
            <h3>¡Aprovecha las promociones!</h3>
            <article>
                <div class="retiro">
                    <i class="fas fa-shopping-bag"></i>
                </div>
                <h4>Retiro en tienda o envío a domicilio</h4>
                <p>Retirá en tienda sin cargo o elegí envío a domicilio gratis a partir de $5000 </p>
            </article>
            <article>
                </div>
                <div class="cuotas">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4>Cuotas sin interés</h4>
                <p>Pagá con Visa, Amex y Master en 3 y 6 cuotas sin interés</p>
            </article>
            <article>
                <div class="cambios">
                    <i class="fas fa-undo"></i>
                </div>
                <h4>Cambios y devoluciones</h4>
                <p>Realizá cambios sin cargo por tiempo limitado</p>
            </article>
        </section>


        <!-- productos relacionados -->
        <h2>Productos Relacionados</h2>
        <section class="productos-relacionados">
            <% if (category.length > 4) { %>
                <% for( let i = 0; i < 4; i++ ) { %>
                    <article>
                        <% if (category[i]) { %>
                            <a href="/productos/<%= category[i].estado.estado %> ">
                                <div class="caja-etiquetas">
                                    <span class="etiqueta"><%= category[i].estado.estado %>  </span>
                                </div>
                            </a>
                        <% } %>
                        <div class="caja-etiquetas">
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                        </div>
                        <a class="nameCategory" href="/productos/detalle/<%= category[i].id %>">
                            <div>
                                <img src="/img/Products/<%= category[i].imagenes[0].nombre %>" alt="Imagen ilustrativa del producto">
                            </div>
                            <h4><%= category[i].nombre %></h4>
                            <p class="precio-1">$<%= category[i].descuento > 0 ? Math.trunc(category[i].precio - category[i].precio * category[i].descuento / 100) : category[i]    .precio  %></p>
                        </a>
                        <button class="comprar-boton" onclick="addItem('<%= category[i].id %>')">añadir al Carrito</button>

                    </article>
                <% } %>
            <%  } else { %>
                <% for( let i = 0; i < category.length; i++ ) { %>
                    <article>
                        <% if (category[i]) { %>
                            <a href="/productos/<%= category[i].estado.estado %> ">
                                <div class="caja-etiquetas">
                                    <span class="etiqueta"><%= category[i].estado.estado %>  </span>
                                </div>
                            </a>
                        <% } %>
                        <div class="caja-etiquetas">
                            <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                        </div>
                        <a class="nameCategory" href="/productos/detalle/<%= category[i].id %>">
                            <div>
                                <img src="/img/Products/<%= category[i].imagenes[0].nombre %>" alt="Imagen ilustrativa del producto">
                            </div>
                            <h4><%= category[i].nombre %></h4>
                            <p class="precio-1">$<%= category[i].descuento > 0 ? Math.trunc(category[i].precio - category[i].precio * category[i].descuento / 100) : category[i]    .precio  %></p>
                        </a>
                        <button class="comprar-boton" onclick="addItem('<%= category[i].id %>')">añadir al Carrito</button>
                    </article>
                <% } %>
                <% } %>
        </section>
    </main>
    <%- include ('./partials/footer') %> 
</body>

</html>