<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head', {title: estado}) %> 
<body class="productos">
    <%- include ('./partials/header') %> 
    <main>
        <ul>
            <li class="crumb"><a href="/">Home</a></li>
            <li class="divider"> > </li>
            <li class="crumb-active" aria-current="page"><a href="/productos">Productos</a></li>
            <li class="divider"> > </li>
            <li class="crumb-active" aria-current="page"> <% estado %>  </li>
        </ul>
        <form action=""></form>
        <h1> <%= estado %>  </h1>

        <section class="lista-esmaltes">
            <% productos.forEach(producto => { %>
                <%- include('./partials/card',{
                    id:producto.id,
                    imagen:producto.imagenes[0].nombre,
                    nombre:producto.nombre,
                    descuento:producto.descuento,
                    precio:producto.precio 
                  }) %> 
            <% }) %>
        </section>
    </main>
    <%- include ('./partials/footer') %>     