<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head', {title: 'Wonder Nails'}) %> 
<body class="productos">
    <%- include ('./partials/header') %> 
    <main>
        <form action=""></form>
        <h1>Todos nuestros productos</h1>
        <section>
            <h2>Nuevos</h2>
            <% productosNuevos.forEach(producto => { %>
                <div class="caja">
                    <!-- <div class="caja-etiquetas">
                        <span class="etiqueta">Nuevo</span>
                        <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                    </div> -->
                    <a href="/productos/detalle/<%- producto.id %> ">
                        <div class="foto-prod">
                            <img src="/img/products/<%- producto.imagen[0] %> " alt="Fotografía ilustrativa del producto">
                        </div>
                        <h4><%- producto.nombre %> </h4>
                        <span class="precio">$<%- producto.precio %> </span>
                    </a>
                    <div class="input">
                        <input type="button" value="-">
                        <input class="medio" type="number" value="1" min="1" step="1">
                        <input type="button" value="+">
                    </div>
                    <a href="/productos/carrito/<%- producto.id %> "><button class="comprar">Comprar</button></a>
                </div>
            <% }) %>
        </section>
        <section>
            <h2>Favoritos</h2>
            <% productosFavs.forEach(producto => { %>
                <div class="caja">
                    <!-- <div class="caja-etiquetas">
                        <span class="etiqueta">Nuevo</span>
                        <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                    </div> -->
                    <a href="/productos/detalle/<%- producto.id %> ">
                        <div class="foto-prod">
                            <img src="/img/products/<%- producto.imagen[0] %> " alt="Fotografía ilustrativa del producto">
                        </div>
                        <h4><%- producto.name %> </h4>
                        <span class="precio">$<%- producto.precio %> </span>
                    </a>
                    <div class="input">
                        <input type="button" value="-">
                        <input class="medio" type="number" value="1" min="1" step="1">
                        <input type="button" value="+">
                    </div>
                    <a href="/productos/carrito/<%- producto.id %> "><button class="comprar">Comprar</button></a>
                </div>
            <% }) %>
        </section>
        <section>
            <h2>Ofertas</h2>
            <% productosOferta.forEach(producto => { %>
                <div class="caja">
                    <!-- <div class="caja-etiquetas">
                        <span class="oferta" class="etiqueta">-<%- producto.descuento %> %</span>
                        <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
                    </div> -->
                    <a href="/productos/detalle/<%- producto.id %> ">
                        <div class="foto-prod">
                            <img src="/img/products/<%- producto.imagen[0] %> " alt="">
                        </div>
                        <h4><%- producto.nombre %> </h4>
                        <span class="precioOferta">
                            <span class="precioViejo">$<%- producto.precio %>  </span>
                            <span>$<%- producto.precio - producto.precio * producto.descuento / 100 %> </span>
                        </span>
                    </a>
                    <div class="input">
                        <input type="button" value="-">
                        <input class="medio" type="number" value="1" min="1" step="1">
                        <input type="button" value="+">
                    </div>
                    <a href="/productos/carrito"><button class="comprar">Comprar</button></a>
                </div>
            <% }) %>
        </section>
    </main>
    <%- include ('./partials/footer') %>     
</body>
</html>