<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head', {title: 'Wonder Nails'}) %> 
<body class="productos">
    <%- include ('./partials/header') %> 
    <main>
        <ul class="ul">
            <li class="crumb li"><a href="/">Home</a></li>
            <li class="divider li"> > </li>
            <li class="crumb-active li" aria-current="page"><a href="/productos">Productos</a></li>
        </ul>
        <form action=""></form>
        <h1>Todos nuestros productos</h1>
        <section class="botones-secciones">
            <ul>
                <a href="#Nuevos"><li>Nuevos</li></a>
                <a href="#Favoritos"><li>Favoritos</li></a>
                <a href="#Ofertas"><li>Ofertas</li></a>
                <a href="#Esmaltes"><li>Esmaltes</li></a>
                <a href="#Otros"><li>Otros</li></a>
            </ul>
        </section>
        <section>
            <h2 id="Nuevos">Nuevos</h2>
            <% productosNuevos.forEach(producto => { %>
                <%- include('./partials/card',{
                    id:producto.id,
                    imagen:producto.imagen[0],
                    nombre:producto.nombre,
                    descuento:producto.descuento,
                    precio:producto.precio 
                  }) %> 
            <% }) %>
        </section>
        <section>
            <h2 id="Favoritos">Favoritos</h2>
            <% productosFavs.forEach(producto => { %>
                <%- include('./partials/card',{
                    id:producto.id,
                    imagen:producto.imagen[0],
                    nombre:producto.nombre,
                    descuento:producto.descuento,
                    precio:producto.precio 
                  }) %> 
            <% }) %>
        </section>
        <section>
            <h2 id="Ofertas">Ofertas</h2>
            <% productosOferta.forEach(producto => { %>
                <%- include('./partials/card',{
                    id:producto.id,
                    imagen:producto.imagen[0],
                    nombre:producto.nombre,
                    descuento:producto.descuento,
                    precio:producto.precio 
                  }) %> 
            <% }) %>
        </section>
        <section class="lista-esmaltes">
            <a class="link-esmaltes" href="/productos/<%- esmaltes.categoria %> "><h2 id="Esmaltes">Todos nuestros esmaltes</h2></a>
            <% esmaltes.forEach(producto => { %>
                <%- include('./partials/card',{
                    id:producto.id,
                    imagen:producto.imagen[0],
                    nombre:producto.nombre,
                    descuento:producto.descuento,
                    precio:producto.precio 
                  }) %> 
            <% }) %>
        </section>
        <section>
            <h2 id="Otros">Otros</h2>
            <% otros.forEach(producto => { %>
                <%- include('./partials/card',{
                    id:producto.id,
                    imagen:producto.imagen[0],
                    nombre:producto.nombre,
                    descuento:producto.descuento,
                    precio:producto.precio 
                  }) %> 
            <% }) %>
        </section>
    </main>
    <%- include ('./partials/footer') %>     
</body>
</html>