<!-- <div class="card">
  <a href="/productos/detalle/<%= id %>">
    <div class="card-img">
      <div
        class="card-img-background"
        style="background-image: url('/img/products/<%=imagen%>')"
      ></div>
    </div>
  </a>
    <div class="card-text-box">
      <h3 class="card-name"><%= nombre.slice(0,30) %></h3>
      <div class="card-value">
        <p class="card-discount"><%- descuento > 0 ? '%' +  descuento + ' OFF' : null %></p>
        <p class="card-price">$<%= precio %></p>
      </div>
    </div>
    <div class="card-button">
        <a href="/productos/carrito/<%-id %> "><button class="comprar">Comprar</button></a>
    </div>
</div> -->

<div class="caja">
  <div class="caja-etiquetas">
      <span class="etiqueta">Nuevo</span>
      <a class="etiquetaC" href=""><i
              class="far fa-heart"></i></a>
  </div>
  <a href="/productos/detalle/<%-id %> ">
      <div class="foto-prod">
          <img class="prodImg" src="/img/products/<%- imagen %> "
              alt="Fotografía ilustrativa del producto">
      </div>
      <div class="card-text-box">
        <h3 class="card-name"><%= nombre.slice(0,30) %></h3>
        <div class="card-value">
          <p class="card-discount"><%- descuento > 0 ? '%' +  descuento + ' OFF' : null %></p>
          <p class="card-price">$<%= precio %></p>
        </div>
      </div>
  </a>
  
  <a href="/productos/carrito/<%- id %> "><button
          class="comprar">Comprar</button></a>
</div>