<div class="caja">
    <div class="caja-etiquetas">
        <span class="oferta" class="etiqueta">-<%- producto.descuento %> %</span>
        <a class="etiquetaC" href=""><i class="far fa-heart"></i></a>
    </div>
    <a href="/productos/detalle/<%- producto.id %> ">
        <div class="foto-prod">
            <img src="/img/products/<%- producto.imagen[0] %> " alt="">
        </div>
        <h4><%- producto.nombre %> </h4>
        <span class="precioOferta">
            <span class="precioViejo">$<%- producto.precio %>  </span>
            <span>$<%- producto.precio - producto.precio * producto.descuento / 100 %> </span>
        </span>
    </a>
    <div class="input">
        <input type="button" value="-">
        <input class="medio" type="number" value="1" min="1" step="1">
        <input type="button" value="+">
    </div>
    <a href="/productos/carrito"><button class="comprar">Comprar</button></a>
</div>